body{
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

.row h1{
    font-size: 52px;
    font-weight: 800;
    color:#2D2D2D ;
}
.contacto-h2{
    font-size: 28px;
    line-height: 40px;
    color: #2D2D2D;
    font-weight: 700;
    
}

.altura-index{
    height: 71vh;
}

.nav-sobremi{
    background-color: white;
    height: 80px;
}



.fondo-index{
    background-image: url(../images/Fondos-01.png);
    background-size: cover;
}


nav ul{
    padding-left: 7% !important;
}

.nav-link{
    color: #2D2D2D;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
}

.active {
    text-decoration: underline;
    font-weight: bold;
    text-underline-position:under;
}


.btn{
    background-color: #2D2D2D;
    color: white;
    text-decoration: none;
    border-radius: 0;
}

.btn-contacto{
    background-color:black;
    color: #Fff;
    border-radius: 0;
    transition: 0.4s;
     width: 15%; 
    height: 40px;
    border: none;
}

section i {
    background: black;
    color: white;
    font-size: 30px;
    padding: 15px;
}


footer a {
    color: #2D2D2D;
    text-decoration: underline;
    font-weight: 600;
}

 footer i{
    color: #2D2D2D;
    font-size: 35px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #2D2D2D;
    border-radius: 50px;
    padding: 10px 13px;  
}

footer{
    background-color: white;
}


input[type=submit]:hover,.btn:hover,.btn-contacto:hover{
    background-color: #fff;
    color: #2D2D2D;
    transition: 0.4s;

}

hr{
    margin: 0;
    font-weight: bold;
    
}

.parrafo-titular{
    font-size: 23px;
   
}

.parrafo-proyecto{
    color:#25252575;
}

#sobre-mi .bg-white{
    height: 230px;
}

.bg-white {
    height: 100%;
}

.form-control{
    background-color:#EEEEEE;
    border: none;
    border-bottom:1px solid #2D2D2D;
    border-radius: 0;
}

.form-control:focus{
    background-color: white;
}


a{ color: #2D2D2D;
    text-decoration: underline;

}

.sobremi-imagen{
    width: 65%;
    background-color: #2D2D2D;
    padding: 8px;
    box-shadow: inset -1px -2px 9px 3px rgba(209,209,209,0.63);
    border-radius: 50%;

}

#experiencia{
    background-color: black;
}

.experiencias-img{
    width: 30%;
}

#responsive{
    display: none;
}

#proyectos img {
    height: 250px;
    width: 100%;
}

.sobremi-h2{
    font-size: 25px;
    line-height: 40px;
}

.titulo-cajas{
    font-size: 24px;
}


#experiencia p {
    line-height: 24px;
}


    /* RESPONSIVE */


@media (max-width: 700px) {
    .row h1{
        font-size: 43px;
    }

    .contacto-h2{
        font-size: 20px;
    }


    .btn-contacto{
        width: 32%;
    }

   .navbar-toggler{
    position: absolute;
    right: 20px;
    top: 10px;
    }

    .navbar {
            background-color: white;
            height: 50px;
        }

    footer{
    display: none;
    }

    #experiencia h2{
        font-size: 46px;
    }

    #responsive{
        display: block;
        background: #fff;
        width: 100%;
        position: fixed;
        bottom:0px;
    }

    nav ul {
    background:black;
    height: 85vh;
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    }


    .nav-link{
        color: #fff;
        border-bottom: 3px solid #fff;
    }

    .active{
        text-decoration: none; 
    }

    #responsive i{
        border: none;
    }
    
    .depc-mobile {
        margin-bottom: 4rem!important;
        padding: 0;
    }

    .depc-mobile a,.depc-mobile-index a{
        color: #2D2D2D;
        font-weight: 600;
    }
    .depc-mobile-sobremi {
        padding: 0;
    }

    .depc-mobile-sobremi a {
        color: #fff;
        font-weight: 600;
    }
    .depc-mobile-index{
        position: absolute;
        bottom: 0;
    }

    #proyectos img {
        height: 200px;
    }
}